$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-secondary-primary: rgba(7, 171, 230, 0.5);
$color-secondary-redish: rgba(251, 59, 100, 0.5);
$color-secondary-green: rgba(85, 223, 180, 0.5);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;